.tile {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: silver;
  text-align: center;
  list-style-type: none;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.boardContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}